div{
    text-align: center;
    margin-top: 17%;
    background-color: rgba(71, 69, 69, 0.5), 0.5;
    width: auto;
    border-radius: 10px;
   
   
    
}

/* #paragraph-2,#paragraph-3{
    margin-top:30px;
} */

